* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_79 {
  width: 100%;
  height: 973px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_80 {
  width: 701px;
  height: 111px;
  background: url("../images/v1_80.png");
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 468px;
}
.v1_81 {
  width: 446px;
  height: 78px;
  background: rgba(237,69,22,1);
  opacity: 1;
  position: absolute;
  top: 773px;
  left: 497px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v1_82 {
  width: 520px;
  color: rgba(237,69,22,1);
  position: absolute;
  top: 191px;
  left: 67px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_83 {
  width: 869px;
  height: 118px;
  background: rgba(251,206,177,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 339px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_84 {
  width: 869px;
  height: 118px;
  background: rgba(251,206,177,1);
  opacity: 1;
  position: absolute;
  top: 528px;
  left: 339px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_85 {
  width: 173px;
  color: rgba(44,62,80,1);
  position: absolute;
  top: 548px;
  left: 357px;
  font-family: Inter;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_86 {
  width: 191px;
  color: rgba(44,62,80,1);
  position: absolute;
  top: 324px;
  left: 357px;
  font-family: Inter;
  font-weight: Thin Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_87 {
  width: 295px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 774px;
  left: 548px;
  font-family: Inter;
  font-weight: Light Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_88 {
  width: 141px;
  height: 147px;
  background: url("../images/v1_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 78px;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  border-bottom-left-radius: 360px;
  border-bottom-right-radius: 360px;
  overflow: hidden;
}
.v1_89 {
  width: 412px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 273px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
